https://www.perplexity.ai/search/c7c67e8b-1075-40c1-ab9e-69b6324a8954

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf
ticker = '0050.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW
Date,,,,,,
2024-01-02,129.367722,134.899994,135.949997,134.649994,135.600006,5922076
2024-01-03,127.114105,132.550003,133.899994,132.300003,133.699997,13547475
2024-01-04,127.066154,132.500000,132.750000,132.300003,132.550003,4567593
2024-01-05,126.730507,132.149994,132.949997,132.100006,132.550003,3999671
2024-01-08,127.305893,132.750000,133.600006,132.750000,133.000000,9394720
...,...,...,...,...,...,...
2024-05-27,169.724915,172.949997,173.399994,171.750000,171.750000,5685420
2024-05-28,169.970261,173.199997,173.399994,172.500000,172.949997,5524704
2024-05-29,167.664093,170.850006,172.500000,170.550003,172.449997,6796954
2024-05-30,164.769089,167.899994,169.000000,167.699997,168.000000,9277512
2024-05-31,162.904526,166.000000,168.899994,166.000000,168.250000,8286711

In [3]:
import yfinance as yf
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    582.770691
2024-01-03    568.029480
2024-01-04    569.994995
2024-01-05    566.064026
2024-01-08    572.943237
                 ...
2024-05-27    857.997498
2024-05-28    854.048157
2024-05-29    846.149414
2024-05-30    827.390015
2024-05-31    810.605286
Name: 2330.TW, Length: 98, dtype: float64

In [4]:
from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2025-01-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
all_data

{'2330.TW': Price         Adj Close   Close    High     Low    Open    Volume
 Ticker          2330.TW 2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
 Date
 2024-01-02   582.770752   593.0   593.0   589.0   590.0  26059058
 2024-01-03   568.029541   578.0   585.0   576.0   584.0  37106763
 2024-01-04   569.994934   580.0   581.0   577.0   580.0  15309129
 2024-01-05   566.064026   576.0   580.0   574.0   578.0  18158971
 2024-01-08   572.943237   583.0   585.0   579.0   582.0  17761275
 ...                 ...     ...     ...     ...     ...       ...
 2024-12-25  1075.403198  1085.0  1090.0  1080.0  1090.0  15481622
 2024-12-26  1075.403198  1085.0  1090.0  1085.0  1085.0  14374900
 2024-12-27  1080.358887  1090.0  1095.0  1080.0  1080.0  24948385
 2024-12-30  1080.358887  1090.0  1095.0  1085.0  1090.0  23954634
 2024-12-31  1065.491699  1075.0  1085.0  1075.0  1080.0  28397820

 [242 rows x 6 columns],
 '2303.TW': Price       Adj Close      Close       High        Low       Open    Volume
 Ticker        2303.TW    2303.TW    2303.TW    2303.TW    2303.TW   2303.TW
 Date
 2024-01-02  49.163513  51.900002  52.799999  51.299999  52.500000  64217881
 2024-01-03  47.932056  50.599998  51.299999  50.500000  51.200001  75978300
 2024-01-04  48.121510  50.799999  50.900002  50.200001  50.500000  56554331
 2024-01-05  48.121510  50.799999  52.200001  50.599998  51.599998  77391673
 2024-01-08  47.837330  50.500000  51.000000  50.099998  51.000000  63869803
 ...               ...        ...        ...        ...        ...       ...
 2024-12-25  44.049999  44.049999  44.700001  44.049999  44.500000  52528974
 2024-12-26  43.700001  43.700001  44.299999  43.500000  44.299999  26686974
 2024-12-27  43.599998  43.599998  44.049999  43.450001  43.549999  22648295
 2024-12-30  43.099998  43.099998  43.599998  43.099998  43.200001  25586120
 2024-12-31  43.049999  43.049999  43.450001  42.200001  42.700001  43445308

 [242 rows x 6 columns],
 '2454.TW': Price         Adj Close   Close    High     Low    Open    Volume
 Ticker          2454.TW 2454.TW 2454.TW 2454.TW 2454.TW   2454.TW
 Date
 2024-01-02   915.833191   981.0  1015.0   980.0  1010.0  10009034
 2024-01-03   889.693176   953.0   977.0   953.0   976.0  12547023
 2024-01-04   889.309875   928.0   947.0   922.0   940.0   8449251
 2024-01-05   882.601685   921.0   935.0   921.0   929.0   5524580
 2024-01-08   881.643372   920.0   936.0   918.0   930.0   5553064
 ...                 ...     ...     ...     ...     ...       ...
 2024-12-25  1381.102417  1410.0  1430.0  1410.0  1420.0   2381315
 2024-12-26  1390.897583  1420.0  1430.0  1415.0  1420.0   2351336
 2024-12-27  1400.692627  1430.0  1440.0  1420.0  1420.0   2283253
 2024-12-30  1390.897583  1420.0  1435.0  1420.0  1430.0   2765852
 2024-12-31  1386.000000  1415.0  1425.0  1400.0  1410.0   3224086

 [242 rows x 6 columns],
 '2317.TW': Price        Adj Close   Close    High     Low    Open    Volume
 Ticker         2317.TW 2317.TW 2317.TW 2317.TW 2317.TW   2317.TW
 Date
 2024-01-02  102.375000   105.0   105.0   104.0   104.5  19921105
 2024-01-03  101.887505   104.5   105.0   104.0   104.5  18957682
 2024-01-04  101.400002   104.0   105.0   104.0   104.5  15488559
 2024-01-05  101.400002   104.0   104.5   104.0   104.0  13349572
 2024-01-08   98.962502   101.5   104.0   101.5   103.5  34642006
 ...                ...     ...     ...     ...     ...       ...
 2024-12-25  186.500000   186.5   188.0   186.0   186.5  21198608
 2024-12-26  187.500000   187.5   189.0   187.0   187.5  35581123
 2024-12-27  186.500000   186.5   188.0   185.5   187.5  20870917
 2024-12-30  185.000000   185.0   187.0   184.5   185.5  23909208
 2024-12-31  184.000000   184.0   185.0   183.0   184.5  21179875

 [242 rows x 6 columns]}