https://www.perplexity.ai/search/c7c67e8b-1075-40c1-ab9e-69b6324a8954

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf
ticker = '0050.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW
Date,,,,,,
2024-01-02,129.367722,134.899994,135.949997,134.649994,135.600006,5922076
2024-01-03,127.114105,132.550003,133.899994,132.300003,133.699997,13547475
2024-01-04,127.066154,132.500000,132.750000,132.300003,132.550003,4567593
2024-01-05,126.730507,132.149994,132.949997,132.100006,132.550003,3999671
2024-01-08,127.305893,132.750000,133.600006,132.750000,133.000000,9394720
...,...,...,...,...,...,...
2024-05-27,169.724915,172.949997,173.399994,171.750000,171.750000,5685420
2024-05-28,169.970261,173.199997,173.399994,172.500000,172.949997,5524704
2024-05-29,167.664093,170.850006,172.500000,170.550003,172.449997,6796954
2024-05-30,164.769089,167.899994,169.000000,167.699997,168.000000,9277512
2024-05-31,162.904526,166.000000,168.899994,166.000000,168.250000,8286711

In [3]:
import yfinance as yf
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    582.770691
2024-01-03    568.029480
2024-01-04    569.994995
2024-01-05    566.064026
2024-01-08    572.943237
                 ...
2024-05-27    857.997498
2024-05-28    854.048157
2024-05-29    846.149414
2024-05-30    827.390015
2024-05-31    810.605286
Name: 2330.TW, Length: 98, dtype: float64

In [4]:
from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2025-01-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
all_data

In [6]:
import pandas as pd

price_df = pd.DataFrame({key:dataframe['Adj Close'][key] for key,dataframe in all_data.items()})
price_df1 = price_df.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
price_df1

                    台積電         聯電          聯發科          鴻海
Date
2024-01-02   582.770752  49.163513   915.833191  102.375000
2024-01-03   568.029541  47.932056   889.693176  101.887505
2024-01-04   569.994934  48.121510   889.309875  101.400002
2024-01-05   566.064026  48.121510   882.601685  101.400002
2024-01-08   572.943237  47.837330   881.643372   98.962502
...                 ...        ...          ...         ...
2024-12-25  1075.403198  44.049999  1381.102417  186.500000
2024-12-26  1075.403198  43.700001  1390.897583  187.500000
2024-12-27  1080.358887  43.599998  1400.692627  186.500000
2024-12-30  1080.358887  43.099998  1390.897583  185.000000
2024-12-31  1065.491699  43.049999  1386.000000  184.000000

[242 rows x 4 columns]

In [7]:
price_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 242 entries, 2024-01-02 to 2024-12-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     242 non-null    float64
 1   聯電      242 non-null    float64
 2   聯發科     242 non-null    float64
 3   鴻海      242 non-null    float64
dtypes: float64(4)
memory usage: 9.5 KB