# DataFrame的操作
https://www.perplexity.ai/search/c9eb03d9-5681-4f6c-956d-6764ee19c80a

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

np.random.seed(42)
scores = np.random.randint(50, 101,(50,5))
df1:DataFrame = pd.DataFrame(scores,
             index=[f'學號{i}' for i in range(1,51)],
             columns=["國文","英文","數學","歷史","生物"])
df1

In [ ]:
#選取1欄
df1['國文']
#df1['英文']

In [ ]:
#選取多欄
#df[list]

df1[['國文','英文']]

# 列的選取
- df.iloc
- df.loc

In [5]:
###loc[]的選取

df1.loc['學號1']

國文    88
英文    78
數學    64
歷史    92
生物    57
Name: 學號1, dtype: int32

In [6]:
df1.loc[['學號1','學號25']]

      國文  英文  數學  歷史  生物
學號1   88  78  64  92  57
學號25  56  58  57  61  83

In [7]:
#iloc[]的選取
df1.iloc[0]

國文    88
英文    78
數學    64
歷史    92
生物    57
Name: 學號1, dtype: int32

In [8]:
df1.iloc[[0,24]]

      國文  英文  數學  歷史  生物
學號1   88  78  64  92  57
學號25  56  58  57  61  83

In [9]:
df1.iloc[:5]

     國文  英文  數學  歷史  生物
學號1  88  78  64  92  57
學號2  70  88  68  72  60
學號3  60  73  85  89  73
學號4  52  71  51  73  93
學號5  79  87  51  70  82

In [13]:
#iloc[列,欄],先選列,再選欄
df1.iloc[:5,["國文","英文","數學"]] #不能是key

IndexError: .iloc requires numeric indexers, got ['國文' '英文' '數學']

In [10]:
#iloc[列,欄],先選列,再選欄
df1.iloc[:5,[0,1,2]]

     國文  英文  數學
學號1  88  78  64
學號2  70  88  68
學號3  60  73  85
學號4  52  71  51
學號5  79  87  51

In [11]:
#iloc[列,欄],先選列,再選欄
df1.iloc[:5,:3]

     國文  英文  數學
學號1  88  78  64
學號2  70  88  68
學號3  60  73  85
學號4  52  71  51
學號5  79  87  51