In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array([[15, 160, 48], [14, 175, 66], [15, 153, 50], [15, 162, 44]]))
df
df.to_csv("E:\\df.csv", header = 0, index = 0)
pd.read_csv("E:\\df.csv", names = ["年齡", "身高", "體重"])

   年齡   身高  體重
0  15  160  48
1  14  175  66
2  15  153  50
3  15  162  44

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array([[15, 160, 48], [14, 175, 66], [15, 153, 50], [15, 162, 44]]))
df
df.to_csv("2d_array.csv", header = 0, index = 0)
pd.read_csv("2d_array.csv", names = ["年齡", "身高", "體重"])

   年齡   身高  體重
0  15  160  48
1  14  175  66
2  15  153  50
3  15  162  44

In [11]:
pd.read_csv("2d_array.csv", names = ["年齡", "身高", "體重"], nrows = 2)

   年齡   身高  體重
0  15  160  48
1  14  175  66

In [13]:
pd.read_csv("2d_array.csv", names = ["年齡", "身高", "體重"], usecols = [0, 1])

   年齡   身高
0  15  160
1  14  175
2  15  153
3  15  162