In [2]:
from dataclasses import dataclass

@dataclass
class Student:
    pass

In [3]:
stu1:Student = Student()
type(stu1)

__main__.Student

In [11]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def sum(self):
        return self.chinese + self.english + self.math

In [24]:
stu1:Student = Student(name="robert",
                       chinese=98,
                       english=75,
                       math=69)

stu2:Student = Student(name="jenny",
                       chinese=87,
                       english=92,
                       math=75)

In [19]:
(stu1.name, stu1.chinese, stu1.english, stu1.math) #tuple

('robert', 100, 75, 69)

In [18]:
stu1.name, stu1.chinese, stu1.english, stu1.math #tuple

('robert', 100, 75, 69)

In [21]:
stu1.chinese = 100
stu1.sum = 300 #一般的property只可以讀,不可以寫入(readonly)
stu1.name, stu1.chinese, stu1.english, stu1.math

AttributeError: property 'sum' of 'Student' object has no setter

In [16]:
stu1.chinese = 100
#stu1.sum = 300 一般的property只可以讀,不可以寫入(readonly)
print((stu1.name, stu1.chinese, stu1.english, stu1.math)) 
print(stu1.sum)

('robert', 100, 75, 69)
244

In [17]:
print((stu2.name, stu2.chinese, stu2.english, stu2.math))
print(stu2.sum)

('jenny', 87, 92, 75)
254

In [22]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def sum(self):
        return self.chinese + self.english + self.math

    def average(self): #實體方法
        return round(self.sum / 3.0,ndigits=2)

In [ ]:
stu1:Student = Student(name="robert",
                       chinese=98,
                       english=75,
                       math=69)

stu2:Student = Student(name="jenny",
                       chinese=87,
                       english=92,
                       math=75)

In [27]:
stu1.chinese = 90
#stu1.sum = 300 一般的property只可以讀,不可以寫入(readonly)
print((stu1.name, stu1.chinese, stu1.english, stu1.math)) 
print(stu1.sum) #呼叫property
print(stu1.average()) #呼叫實體方法

('robert', 90, 75, 69)
234
78.0

In [26]:
print((stu2.name, stu2.chinese, stu2.english, stu2.math))
print(stu2.sum)
print(stu2.average())

('jenny', 87, 92, 75)
254
84.67